html {
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: none

}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: 400;

}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post .title {
  text-decoration: none
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea, .add-header-button {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

#fields {
        display: flex !important;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; }
    .fields .field {
      margin-bottom: 0; }
    .fields > .field {
      flex-shrink: 1; }
      .fields > .field:not(.is-narrow) {
        flex-grow: 0.1; }
      .fields > .field:not(:last-child) {
        margin-right: 0.1rem; }
}

#page-title {
 margin-bottom: 2em
}

.add-new {
margin-bottom: 1em;
}

.edit, .add-new {
margin-top: 0.5em;

padding: 0 16px;
padding-top: 8px;
padding-bottom: 8px;
font-weight:600;
}

.edit-control {
padding-top: 8px;
padding-bottom: 8px;
}

.name-method-title-block {
margin-bottom: 2em;
width: 300px;
text-decoration: none

}

.name-method-title {
max-width: 300px;
font-size: 1.2em;
font-weight: bold;
text-decoration: none

}

.name-service-title {
max-width: 300px;
font-size: 1.5em;
font-weight: bold;
text-decoration: none
}

.name-service-title-block {
margin-bottom: 0.5em;
width: 300px;
text-decoration: none

}

.reglog {

width: 170px;
margin: auto;
margin-bottom: 0.5em;
}

.reglog-label {

margin-bottom: 0.5em;

}

#qwe {
margin-bottom: 0.5em;

}

.reglog-button {
padding-top: 8px;
padding-bottom: 8px;
margin-top: 0.5em;
margin-bottom: 0.5em;
width: 270px;
font-weight: 600;

}

.input-field {
margin-top:0.5em;

border: 1px solid #d3d9de;
height: 19px;
border-radius: 3px;
font-size: 14px;
padding: 6px 12px 8px;
width: 244px;
}

.field .input-field {
margin-top:0.5em;

border: 1px solid #d3d9de;
height: 19px;
border-radius: 3px;
font-size: 14px;
padding: 6px 12px 8px;
width: 156px;
}

.input-field-headers {

border: 1px solid #d3d9de;
border-radius: 3px;
padding: 3px 6px 4px;
width: 168px;
}


.input-textarea {
margin-top:0.5em;

border: 1px solid #d3d9de;
border-radius: 3px;
font-size: 14px;
padding: 6px 12px 8px;

}

.save-button, .delete-button {
padding-top: 8px;
padding-bottom: 8px;
margin-top: 0.5em;
margin-bottom: 0.5em;
font-weight: 600;
}

